/*Import fonts from Google Fonts - Logo = font-family: 'Merienda One', cursive; Headers & Nav Links = font-family: 'Didact Gothic', sans-serif; Body text = font-family: 'Roboto', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Merienda+One&family=Roboto:wght@100;300;400;500;700&display=swap');

/*----------------------------------------------------------------------------------------------------------General rules*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.underline {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Didact Gothic', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

/*------------------------------------------------General Pseudo Classes*/

.a__hover--grey:hover {
    color: #DDE1E4;
}

.a__hover--white:hover {
    color: #ffffff;
}


.a__hover--underline:hover {
    text-decoration: underline;
    color: inherit;
}

.a__hover--bold:hover {
    font-weight: bold;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

/*----------------------------------------------------------------------------------------------------------text-block--grey*/
/*------------------------------------------------Home page - Introduction, Highlights - Background*/

.text-block--grey {
    background-color: #DDE1E4;
}

.text-block--grey h1 {
    font-size: 32px;
}

/*----------------------------------------------------------------------------------------------------------text-block--blue*/
/*------------------------------------------------Highlights - Highlights header*/

.text-block--blue {
    background-color: #3d3b62;
    color: #ffffff;
}

/*----------------------------------------------------------------------------------------------------------text-block--white*/
/*------------------------------------------------Home page - Shortcuts, Highlights - Highlights*/

.text-block--white {
    background-color: #ffffff;
    color: #3d3b62;
}

/*----------------------------------------------------------------------------------------------------------Navbar*/

.navigation__bar {
    background-color: #3d3b62;
    color: #ffffff;
}

.navigation__image {
    max-height: 40px;
}

.navigation__title {
    font-family: 'Merienda One', cursive;
}

.navigation__link {
    font-size: 18px;
    text-align: center;
    font-family: 'Didact Gothic', sans-serif;
}

.border-right--white {
    border-right: 1px solid #ffffff;
}

.border-left--white {
    border-left: 1px solid #ffffff;
}

.navigation__toggler {
    color: #ffffff;
    font-size: 30px;
}

.navigation__active {
    text-decoration: underline;
    font-weight: bold;
}

/*----------------------------------------------------------------------------------------------------------Footer*/

.footer__row {
    color: #ffffff;
    background-color: #9e3242;
}

.footer__icon {
    font-size: 30px;
}

/*----------------------------------------------------------------------------------------------------------Home page - Jumbotron*/

.jumbotron__hero-image {
    background-image: url("https://raw.githubusercontent.com/LukeGarnham/One-Day-In-May-MS1/master/assets/images/itfc-promotion-3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    height: 70vh;
    margin-bottom: 0;
    align-items: center;
    justify-content: center;
    position: relative;

    animation-name: hero-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.callout {
    height: 70vh;
    width: 100%;
    overflow: hidden;
}

/* Animation to zoom out hero-image on page load*/
@keyframes hero-zoom {
    from {
        transform: scale(1.05);
    }
    
    to {
        transform: scale(1.0);
    }
}

.jumbotron__overlay {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 2% 5%;
}

.jumbotron__text {
    position: relative;
    height: 100%;
    width: 100%;
}

.jumbotron__lead-text {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    text-align: right;
    font-size: 25px;
}

/*----------------------------------------------------------------------------------------------------------Home page - Shortcuts*/

.shortcuts__icon-container {
    border: 5px solid #3d3b62;
    border-radius: 50%;
    width: 70%;
    position: relative;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.shortcuts__aspect-ratio {
    margin-top: 100%;
    display: flex;
}

.shortcuts__icon {
    font-size: 10vw;
    color: #3d3b62;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .5s;
}

.shortcuts__header {
    color: #3d3b62;
    font-size: 20px;
}

/*------------------------------------------------Home Page - Shortcuts Pseudo Classes*/

.shortcuts__icon:hover {
    transform: scale(1.1);
    color: #ffffff;
}

.shortcuts__icon-container:hover {
    background-color: #3d3b62;
    border-color: #ffffff;
}

/*----------------------------------------------------------------------------------------------------------Highlights page - Background*/

.league-table {
    width: 33%;
    min-width: 425px;
    border: 3px solid #3d3b62;
    border-radius: 10px;
    background-color: #ffffff;
}

.text-image {
    max-width: 50%;
    max-height: 200px;
}

.clear--left {
    clear: left;
}

.clear--right {
    clear: right;
}

.promotion-cut-off {
    border-bottom: 2px dashed #000000;
}

/*----------------------------------------------------------------------------------------------------------Highlights page - Highlights*/

.navigation__tabs {
    background-color: #3d3b62;
}

.navigation__tabs .nav-link {
    border: none;
    color: #ffffff;
    font-size: 18px;
}

.navigation__tabs .nav-link .active {
    color: #3d3b62;
    font-weight: bold;
    text-decoration: underline;
}

.match-date {
    font-size: 20px;
}

.team {
    font-size: 30px;
}

.score {
    font-size: 45px;
}

.scorers {
    font-size: 16px;
}

.video-container {
    width: 66%;
    padding-top: 37.125%;
    position: relative;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: none;
    width:100%;
    height:100%;
}

/*----------------------------------------------------------------------------------------------------------Meet the Players page - Meet the Players*/

.pitch-background {
    background-image: url("https://raw.githubusercontent.com/LukeGarnham/One-Day-In-May-MS1/master/assets/images/football-pitch.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.pitch-background-cover {
    background-color: rgba(0, 0, 0, 0.6);
}

.meet-the-players {
    text-align: center;
    color: #ffffff;
}

.player-image-container {
    width: 60%;
    height: 0;
    padding-top: 60%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

/* The below code snippet is copied from: https://www.w3schools.com/howto/howto_css_flip_card.asp */

/* The flip-card rules below have been customised for the purposes of this site */
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border: 5px solid #ffffff;
  border-radius: 50%;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  backface-visibility: hidden;
}

/* The flip-card-front rules below have been customised for the purposes of this site */
.flip-card-front {
  background-color: #3d3b62;
  display: grid;
  justify-content: center;
}

/* The flip-card-back rules below have been customised for the purposes of this site */
.flip-card-back {
  background-color: transparent;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* End of copied code snippet */

/*------------------------------------------------Meet the Players Page - Modal Rules*/

.modal-close-button {
    color: #dc3545;
}

.modal-thumbnail {
    max-width: 150px;
    max-height: 150px;
}

.stat-list {
    flex-direction: row;
}

.stat-list:first-child {
    border-top-right-radius: inherit;
}

.stat-list-item:nth-child(2) {
    border-top-right-radius: 0.25rem;
}

.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}


.share {
    background-color: #DDE1E4;
}

.share-form {
    background-color: #ffffff;
    border: solid 3px #3d3b62;
    border-radius: 10px;
}

/*----------------------------------------------------------------------------------------------------------Media Queries (xs screen)*/

@media screen and (max-width: 576px) {

    /* Ensure the navigation links borders don't show  on mobile nav links*/

    .navigation__link {
        border: none;
    }

    .text-image {
        max-width: 100%;
    }
}

/*----------------------------------------------------------------------------------------------------------Media Queries (xs - sm screen)*/

@media screen and (max-width: 768px) {

    /* To make the shortcut icons responsive on the home page, I used viewport to size the font.  However, on mobile this makes the icons too small.  This rule make the icons and borders look better on mobile. */

    .shortcuts__icon {
        font-size: 18vw;
        padding: 25%;
    }

    /* On the highlights page, we want to the league table to take up 100% of the width and reduce the min width on mobile screens. */
    
    .league-table {
        width: 100%;
        min-width: 250px;
    }

}

/*----------------------------------------------------------------------------------------------------------Media Queries (xs - md screen)*/

@media screen and (max-width: 992px) {
    
    /* On the highlights page, we want the YouTube video take up 100% of the width of its container and need to adjust the height to retain 16:9 aspect ratio.*/
    
    .video-container{
        width: 100%;
        padding-top: 56.25%;
    }

    /* In the Meet the Player modal, on medium screen sizes down I want to align all text in the body to center. */

    .modal-body li {
        text-align: center;
    }

}